<div class="container">
  <h1>Customer</h1>
    <!-- <li *ngFor="let value of values">
    {{ value }}
  </li>
  <li *ngFor="let customer of customers">
    {{ customer.customerID}} {{customer.companyName}} {{customer.contactName}}
  </li> -->
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>CompanyName</th>
          <th>ContactName</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.customerId}}</td>
          <td>{{customer.companyName}}</td>
          <td>{{customer.contactName}}</td>
          <td>
            <input type="button" (click)="delete(200)" value="Delete" />
          </td>
        </tr>
        <tr>

      </tbody>
    </table>
</div>